    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <%= image_tag "shot-race.logo.png", alt: "Logo", class:"navbar-logo" %>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto">
            <li class="nav-item active">
              <%= link_to '| Home', root_path, class: "nav-link"%>
            </li>
            <li class="nav-item">
              <%= link_to '| The Game', rules_path, class: "nav-link"%>
            </li>
            <li class="nav-item">
              <%= link_to '| The Shots', shots_path, class: "nav-link"%>
            </li>
            <li class="nav-item">
              <%= link_to '| Founders', founders_path, class: "nav-link"%>
            </li>
          </ul>
        </div>
      </div>
    </div>
