<div class="navbar-space">
</div>
<div class="container mt-2">
  <h1 class="mb-4">The Founders</h1>
  <div class="row">
    <div class="founder-card col-12 col-md-6">
        <%= image_tag "michelle.jpeg", class: "avatar-large", crop: :fill, alt: "Michelle" %>
        <div class="founder-info">
          <h3>Michelle Lacombe</h3>
          <p><em>Founder of F1 Shot Race</em></p>
        </div>
      </div>
      <hr>
      <div class="founder-card col-12 col-md-6">
        <%= image_tag "stina.jpeg", class: "avatar-large", crop: :fill, alt: "Stina" %>
        <div class="founder-info">
          <h3>Stina Nilsson Helander</h3>
          <p><em>Founder of F1 Shot Race</em></p>
        </div>
      </div>
      <hr>
      <div class="founder-card col-12 col-md-6">
        <%= image_tag "niclas.jpeg", class: "avatar-large", crop: :fill, alt: "Niclas" %>
        <div class="founder-info">
          <h3>Niclas Westerlund</h3>
          <p><em>Founder of F1 Shot Race</em></p>
        </div>
      </div>
      <hr>
      <div class="founder-card col-12 col-md-6">
        <%= image_tag "anders.jpeg", class: "avatar-large", crop: :fill, alt: "Anders" %>
        <div class="founder-info">
          <h3>Anders Pettersson</h3>
          <p><em>Founder of F1 Shot Race</em></p>
        </div>
      </div>
      <hr>
      <div class="founder-card col-12 col-md-6">
        <%= image_tag "julia.jpg", class: "avatar-large", crop: :fill, alt: "Julia" %>
        <div class="founder-info">
          <h3>Julia Thudén</h3>
          <p><em>Founder of F1 Shot Race</em></p>
        </div>
      </div>
  </div>
</div>
