<div class="navbar-space">
</div>
<div class="container mt-2">
  <h1 class="h1-center">The Game</h1>
</div>
  <%= image_tag "rules-overview.png", class: "page-overview-img", crop: :fill, alt: "rules" %>
<div class="container mt-3">
  <h3>Preparations</h3>
  <ul>
    <li>Prepare the <%= link_to 'shots', shots_path, class: "black-link"%></li>
    <li>Draw lots about <a class="black-link", href="#seeting">who sits where</a></li>
    <li>Each player select a <a class="black-link", href="#megadriver">megadriver</a></li>
    <li><%= link_to 'Print', print_path, class: "black-link"%> the rules and the shot list</li>
  </ul>
  <h3>Before start</h3>
    <ul>
    <li>Each player brings 20 shots, two of each type, to his/her dedicated place</li>
    <li><strong>Before</strong> Q1 starts, each player bet which cars he/she think will be out in Q1. Note that the bets are NOT driver sprcific</li>
    <li>Sit back and enjoy Q1 😎</li>
  </ul>
  <p><em>Pssst, if you are not sure about how an F1 qualification work, you can read about it in the <%= link_to 'race info', raceinfo_path, class: "black-link"%></em>.</p>
  <h3>Between Q1 and Q2</h3>
  <p>Be aware, the most urgent thing to do between Q1 and Q2 is to <strong>make your bets for Q2</strong> as that has to be done before Q2 starts. You will have all of Q2 to drink your shots form Q1.</p>
  <ul>
    <li>The shots you guessed <strong>correct</strong> in Q1 you can pass to the player to the <strong>right</strong> of you</li>
    <li>The shots you guessed <strong>wrong</strong> in Q1 you will drink yourself</li>
    <li>If you guessed <strong>all five shots correct</strong> in Q1, you can <a class="black-link", href="#mirror">mirror</a> one shot</li>
    <li>You have to have finished all shots form Q1 before end of Q2</li>
  </ul>
  <h3>Q2</h3>
  <p>Q2 works exactly the same way and with the same rules as Q1. Just be aware that you only have the shots that was not used in Q1 left to bet with.</p>
  <h3>Q3 Betting</h3>
  <ul>
    <li>In Q3, you have to bet on the exact positions the cars will finish, from P1 to P10</li>
    <li>You also have to place your <a class="black-link", href="#megadriver">megadriver</a> at the position you think he will finish</li>
    <li>Drinking works the same as before, you drink the incorrect ones and pass the corect ones to the right</li>
  </ul>
  <h3>Who wins?</h3>
  <p>After qualifying is over and all players have finished their shots, the player who has drunk the <strong>least amount of shots</strong> win! 🎇</p>
  <p>An easy way to keep track of how many shots each person has had is to build a tower of all empty shot glasses.</p>
  <div class="rule-summary">
   <h3>Rule Summary</h3>
    <ul>
      <li>You drink the shots you guessed wrong</li>
      <li>The player to the right of you drink the shots you guessed correct</li>
      <li>That means you drink the correct guessed shots of the person to the left of you</li>
      <li>All bets have to be made before the start of a qualifying round</li>
      <li>All shots have to be drunk before the end of the qualifying round after the one they came from</li>
      <li>Player who drunk the least amount of shots wins!</li>
    </ul>
   </div>

   <h3 class="mt-3">Good Luck 🏎️</h3>

  <hr>
  <div id="seeting">
  <%= render "seeting"%>
  </div>
  <div id="megadriver">
    <%= render "megadriver"%>
  </div>
    <div id="mirror">
    <%= render "mirror"%>
  </div>
</div>
