<!DOCTYPE html>
<html>
  <head>
    <title>BetaF1ShotRace</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <%= image_tag "shot-race.logo.png", alt: "Logo", class:"navbar-logo" %>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">| Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">| Rules</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">| Founders</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <%= yield %>

    <footer class="bg-light text-center text-lg-start">
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        F1 Qualifying Shot Race 2023
      </div>
      <!-- Copyright -->
    </footer>
  </body>
</html>
