<!DOCTYPE html>
<html>
  <head>
    <title>F1 Shot Race</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= favicon_link_tag "shot-race-favicon.png", rel: "icon", type: "image/png" %>
  </head>

  <body>
    <%= render "/shared/navbar" %>
    <div class="header-space">
    </div>

    <%= yield %>

    <%= render "/shared/footer" %>
  </body>
</html>
